.bg-navy {
  background-color: #283618;
}

.logo {
  font-weight: bold;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #606c38;
}

.pp {
  width: 200px;
}

#projects {
  background-color: #606c38;
}

section {
  padding-top: 5rem;
}