.bg-navy {
  background-color: #0a0a24;
}

.logo {
  font-weight: bold;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #151b3d;
}

.pp {
  width: 200px;
}

#projects {
  background-color: #151b3d;
}

section {
  padding-top: 5rem;
}

h1 {
  color: #ffffff;
}

.myProjects {
  color: #ffffff;
}
